*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font: 16px "Helvetica Neue", Arial, sans-serif;
    color: #121214;
}

button{
    cursor: pointer;
}

ul, li, ol{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}

